*
  margin 0
  padding 0

.mtm_left
  position absolute
  width 50%
  height 100%
  left 0
  background-color #ccc

.mtm_right
  position absolute
  width 50%
  height 100%
  right 0
  background-color #aaa

#mtm_input
  position relative
  display block
  width 100%
  height 100%
  box-sizing border-box
  outline 0
  resize none
  background-color #ffe

#mtm_output
  position relative
  width 100%
  height 100%
  overflow scroll
  background-color #fef