sol_base03 = #002b36
sol_base00 = #657b83
sol_base0 = #839496
sol_base3 = #fdf6e3
sol_yellow = #b58900
sol_magenta = #d33682
sol_violet = #6c71c4
sol_blue = #268bd2
sol_cyan = #2aa198

*
  margin 0
  padding 0

p, h1, h2, h3, h4, h5, h6, hr, ul, ol, li, pre, blockquote
  margin 10px
  line-height 150%

hr
  margin 10px

h1, h2, h3, h4, h5, h6
  margin-top 20px
  margin-bottom 20px

h1
  color sol_violet
  border-left sol_violet solid 15px
  padding-left 15px

h2
  color sol_magenta
  border-left sol_magenta solid 12px
  padding-left 12px

h3
  color sol_yellow
  border-left sol_yellow solid 9px
  padding-left 9px

h4
  color sol_violet
  border-left sol_violet solid 6px
  padding-left 6px

h5
  color sol_magenta
  border-left sol_magenta solid 3px
  padding-left 5px

h6
  color sol_yellow
  border-left sol_yellow solid 1px
  padding-left 5px

a
  color sol_blue

a:visited
  color sol_cyan

blockquote
  padding-left 20px

.mtm_left
  position absolute
  box-sizing: border-box
  width 50%
  height 100%
  left 0
  background-color #ccc

.mtm_right
  position absolute
  box-sizing: border-box
  width 50%
  height 100%
  right 0
  background-color #aaa

#mtm_input
  position relative
  box-sizing: border-box
  display block
  width 100%
  height 100%
  box-sizing border-box
  outline 0
  resize none
  background-color sol_base03
  color sol_base0
  padding 20px

#mtm_output
  position relative
  box-sizing: border-box
  width 100%
  height 100%
  overflow scroll
  background-color sol_base3
  color sol_base00
  padding 20px